body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'DIN';

  src: local('DIN-Black'), url('./assets/font/DIN-Black.ttf') format("truetype");
}
@font-face {
  font-family: 'DIN-Bold';

  src: local('din-black'), url('./assets/font/din-bold.otf') format("opentype");
}
@font-face {
  font-family: 'DIN-Regular';

  src: local('DIN-Regular'), url('./assets/font/DIN-Regular.otf') format("opentype");
}
